@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

.card-text {
    color: #000000;
    align-self: start;
    padding-bottom: 0%;
    padding-top: 0%;
    font-size: 1.3rem;
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
}

.card-stack {
    color: #ffffff;
    padding-left: 5px;
    font-size: 0.8rem;
    font-family: "Chonburi", serif;
    font-style: normal;
    align-items: center;
}

.card:hover {
    filter: brightness(90%);
}

.card-details {
    flex-grow: 1;
    max-width: 200px;
    max-height: fit-content;
}

.tablet-about-container>card-homepage {
    /* border: 1px solid #440029; */
    border-radius: 15px;
    text-align: top;
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping into new rows */
    justify-content: flex-start;
    /* Center align items */
    padding: 10px;
    width: 100%;
    height: 100%;
}

.card-image {
    width: 350px;
    height: 250px;
}

.mini-about-container>card-homepage {
    /* border: 1px solid #440029; */
    border-radius: 15px;
    text-align: top;
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping into new rows */
    justify-content: flex-start;
    /* Center align items */
    padding: 10px;
    width: 100%;
    height: 100%;
}

.card-homepage:hover {
    filter: brightness(90%);
}

.card-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

@media (max-width: 600px) {
    .card-container {
        flex-direction: column;
    }
}

