@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Dorsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Fondamento:ital@0;1&display=swap');


.content-container {
    /* display: flex;
    align-items: center;
    gap: 0px;
    width: 100%;
    justify-content: space-between;
    padding: 50px; */

    display: grid;
    height: 80vh;
    padding: 10px;

}

.about-image-arrow {
    flex: 2;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
}

#showname {
    /* margin: 20px; */
    text-align: left;
    padding-left: 10px;
}

.about-container {   
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 100%;
    padding: 0;
    padding-left: 10px;
}

.tablet-about-container {
    max-width: 450px;
    max-height: fit-content;
}

.mini-about-container {
    max-width: 250px;
    max-height: fit-content;
}

#project {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}


#blog {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    padding: 40px;
}

.card-details-parent {
    /* left: 0; */
    max-width: 400px;
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .about-section {
} */


.focus-box {
    display: inline-block;
    position: relative;
    padding: 6px 12px;
}

.focus-text {
    font-size: 3rem;
    /* letter-spacing: 1px; */
    font-family: "Bigshot One", serif;
    font-weight: 400;
    font-style: normal;
}

.focus-text.red {
    color: #D56062;
}

.focus-text.green {
    color: #387780;
}

.focus-text.grey {
    color: #cacac8;
}

.focus-text.white {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    /* margin-bottom: 8px; */
    font-size: 1rem;
}

p {
    font-family: "Bigshot One", serif;
    font-weight: 400;
    font-style: normal;
}


.jobname {
    font-size: 3rem;
    letter-spacing: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #2a5960;
}


.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60px; 
    /* background-color: #b23333; */
  }
  
  .vertical-text {
    /* position: absolute; */
    left: 30px;
    /* bottom: 150px; */
    font-size: 60px;
    color: rgb(86, 84, 84);
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    .vertical-text {
        text-transform: lowercase;
        top: 0;
        left: 0;
        font-size: 40px;
        transform: rotate(270deg);
        opacity: 0;
    }
}
  


/* App.css */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  

.highlight-cards {
    justify-self: center;
    /* max-width: 400px; */
    padding: 50px;
}


.scroll-down {
    position: relative;
    padding: 30px;
    left: 50%;
    /* transform: translateX(-50%); */
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
}